<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/default/header.ejs')%>
  <body class="stretched modal-subscribe-bottom">
    <div id="wrapper" class="clearfix">
      <%- include('../partials/default/navbar.ejs')%>

      <!-- Slider
		============================================= -->
      <section
        id="slider"
        class="slider-element swiper_wrapper min-vh-100"
        data-loop="true"
        data-speed="1000"
        data-autoplay="5000"
      >
        <div class="slider-inner">
          <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
              <div class="swiper-slide dark">
                <div class="container">
                  <div class="slider-caption">
                    <h2 data-animate="fadeInUp">Premium Model Shoe</h2>
                    <p class="mb-4" data-animate="fadeInUp" data-delay="100">
                      A New Collection of Summer 2021.
                    </p>
                    <div>
                      <a
                        href="#"
                        data-animate="fadeInUp"
                        data-delay="200"
                        class="button button-large button-white button-light"
                        >Shop Men</a
                      >
                      <a
                        href="#"
                        data-animate="fadeInUp"
                        data-delay="200"
                        class="button button-large button-white button-light"
                        >Shop Women</a
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="swiper-slide-bg"
                  style="background-image: url('/images/slider/1.jpg')"
                ></div>
              </div>
              <div class="swiper-slide dark">
                <div class="container">
                  <div class="slider-caption">
                    <h2 data-animate="fadeInUp">New Sports Collection</h2>
                    <p class="mb-4" data-animate="fadeInUp" data-delay="100">
                      Black &amp; White Collections
                    </p>
                    <div>
                      <a
                        href="#"
                        data-animate="fadeInUp"
                        data-delay="200"
                        class="button button-large button-white button-light"
                        >Shop Men</a
                      >
                      <a
                        href="#"
                        data-animate="fadeInUp"
                        data-delay="200"
                        class="button button-large button-white button-light"
                        >Shop Women</a
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="swiper-slide-bg"
                  style="
                    background-image: linear-gradient(
                        to bottom,
                        rgba(0, 0, 0, 0.1),
                        rgba(0, 0, 0, 0.6)
                      ),
                      url('/images/slider/2.jpg');
                  "
                ></div>
              </div>
              <div class="swiper-slide dark">
                <div class="container">
                  <div class="slider-caption">
                    <h2 data-animate="fadeInUp">Latest Sweatshirts</h2>
                    <p class="mb-4" data-animate="fadeInUp" data-delay="100">
                      Collections for Summer Clothes
                    </p>
                    <div>
                      <a
                        href="#"
                        data-animate="fadeInUp"
                        data-delay="200"
                        class="button button-large button-white button-light"
                        >Shop Men</a
                      >
                      <a
                        href="#"
                        data-animate="fadeInUp"
                        data-delay="200"
                        class="button button-large button-white button-light"
                        >Shop Women</a
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="swiper-slide-bg"
                  style="
                    background-image: linear-gradient(
                        to bottom,
                        rgba(0, 0, 0, 0.2),
                        rgba(0, 0, 0, 0.3)
                      ),
                      url('/images/slider/3.jpg');
                  "
                ></div>
              </div>
            </div>
            <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div class="slider-arrow-right">
              <i class="icon-angle-right"></i>
            </div>
            <div class="slide-number">
              <div class="slide-number-current"></div>
              <span>/</span>
              <div class="slide-number-total"></div>
            </div>
          </div>

          <div class="social-icons">
            <a
              href="#"
              class="social-icon si-small si-borderless si-rounded si-facebook"
            >
              <i class="icon-facebook text-white-50"></i>
              <i class="icon-facebook"></i>
            </a>
            <a
              href="#"
              class="social-icon si-small si-borderless si-rounded si-instagram"
            >
              <i class="icon-instagram text-white-50"></i>
              <i class="icon-instagram"></i>
            </a>
            <a
              href="#"
              class="social-icon si-small si-borderless si-rounded si-youtube"
            >
              <i class="icon-youtube text-white-50"></i>
              <i class="icon-youtube"></i>
            </a>
          </div>
        </div>
      </section>
      <!-- #Slider End -->

      <!-- Content
		============================================= -->
      <section id="content">
        <div class="content-wrap pb-0">
          <div class="container-fluid">
            <div class="mx-auto center bottommargin" style="max-width: 700px">
              <h2>Fresh Collection of 2021</h2>
              <p>
                Send customers the latest summer collection.. Deserves to be the
                best store system in Vietnam.
              </p>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row mt-2">
              <div class="col-md-4 mb-5">
                <div class="card cat-card rounded-0 border-0 dark">
                  <img
                    src="/images/cat/outerwear.jpg"
                    class="card-img rounded-0"
                    alt="..."
                  />
                  <div
                    class="
                      d-flex
                      align-items-start
                      flex-column
                      card-img-overlay
                      p-4
                    "
                  >
                    <h3
                      class="h3 text-white ls--1 font-weight-bold mt-2 mb-auto"
                    >
                      50% Off
                    </h3>
                    <h3 class="h2 text-white ls--1 font-weight-bold mb-4">
                      Outerwear
                    </h3>
                    <p>
                      This is a wider card as a natural lead-in to additional
                      content. This content is a little bit longer.
                    </p>
                    <a
                      href="#"
                      class="button button button-white button-light ml-0"
                      >Shop Now</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-5">
                <div class="card cat-card rounded-0 border-0 dark">
                  <img
                    src="/images/cat/footwear.jpg"
                    class="card-img rounded-0"
                    alt="..."
                  />
                  <div
                    class="
                      d-flex
                      align-items-start
                      flex-column
                      card-img-overlay
                      bg
                      p-4
                    "
                  >
                    <h3
                      class="h3 text-white ls--1 font-weight-bold mt-2 mb-auto"
                    >
                      50% Off
                    </h3>
                    <h3 class="h2 text-white ls--1 font-weight-bold mb-4">
                      Footwear
                    </h3>
                    <p>
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content.
                    </p>
                    <a
                      href="#"
                      class="button button button-white button-light ml-0"
                      >Shop Now</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-5">
                <div class="card cat-card rounded-0 border-0 dark">
                  <img
                    src="/images/cat/workout.jpg"
                    class="card-img rounded-0"
                    alt="..."
                  />
                  <div
                    class="
                      d-flex
                      align-items-start
                      flex-column
                      card-img-overlay
                      bg
                      p-4
                    "
                  >
                    <h3
                      class="h3 text-white ls--1 font-weight-bold mt-2 mb-auto"
                    >
                      30% Off
                    </h3>
                    <h3 class="h2 text-white ls--1 font-weight-bold mb-4">
                      Sportswear
                    </h3>
                    <p>
                      This is a wider card with supporting text below as a
                      natural lead-in to additional content.
                    </p>
                    <a
                      href="#"
                      class="button button button-white button-light ml-0"
                      >Shop Now</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="clear"></div>

          <div class="container-fluid topmargin">
            <div class="row">
              <div class="col-md-2 sticky-sidebar-wrap">
                <ul class="list-unstyled items-nav sticky-sidebar">
                  <li>
                    <a href="#" class="text-dark font-weight-semibold"
                      >All Collections</a
                    >
                  </li>
                  <li class="no-divider">
                    <a href="#" class="text-dark font-weight-semibold"
                      >New Arrivals</a
                    >
                  </li>
                  <li><hr /></li>
                  <li><a href="#">Jeans</a></li>
                  <li><a href="#">T-Shirts</a></li>
                  <li><a href="#">Tops</a></li>
                  <li><a href="#">Dresses</a></li>
                  <li><a href="#">Skirts</a></li>
                  <li><a href="#">Sportswear</a></li>
                  <li><a href="#">Shorts</a></li>
                  <li><a href="#">Trousers</a></li>
                  <li><a href="#">Sweat-shirts</a></li>
                  <li><a href="#">Sweaters</a></li>
                  <li><a href="#">Flats</a></li>
                  <li><a href="#">Sandals</a></li>
                  <li><a href="#">Loafers & Oxfords</a></li>
                  <li><a href="#">Heels</a></li>
                </ul>
              </div>

              <div class="col-md-10">
                <div class="row">
                  <% products.forEach(product => { %>
                  <!-- Shop Item 1
								============================================= -->
                  <div class="col-lg-4 col-md-6 mb-4">
                    <div class="product">
                      <div class="product-image position-relative">
                        <div
                          class="fslider"
                          data-pagi="false"
                          data-speed="400"
                          data-pause="200000"
                        >
                          <div class="flexslider">
                            <div class="slider-wrap">
                              <% product.images.forEach(image => { %>
                              <div class="slide">
                                <a href="/product/<%- product._id %> "
                                  ><img
                                    src="<%- image %> "
                                    alt="<%- product.name %> "
                                /></a>
                              </div>
                              <% }) %>
                            </div>
                          </div>
                        </div>
                        <a
                          href="#"
                          class="cart-btn button button-white button-light"
                          ><i class="icon-line-plus"></i>Add to Cart</a
                        >
                      </div>
                      <div class="product-desc">
                        <div class="product-title">
                          <h3><a href="#">Black Sports Shoe</a></h3>
                          <span><a href="#">Nike</a></span>
                        </div>
                        <div class="product-price"><ins>$21.49</ins></div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>

          <div class="container-fluid mt-5">
            <div class="row">
              <div class="col-md-6 mb-5">
                <img src="/images/others/travel.jpg" alt="image" class="mb-4" />
                <h4 class="mb-2">
                  <a href="#">Want to travel? Great Stuffs for Travel</a>
                </h4>
                <p class="mb-3">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo
                  doloremque eveniet dolorem, porro earum. Eius, corrupti
                  provident iusto modi sunt.
                </p>
                <a href="#" class="stretched-link btn p-0 font-weight-semibold"
                  ><u>View Details</u>
                  <i
                    class="icon-line-arrow-right position-relative ml-1"
                    style="top: 2px"
                  ></i
                ></a>
              </div>

              <div class="col-md-6 mb-5">
                <img src="/images/others/store.jpg" alt="image" class="mb-4" />
                <h4 class="mb-2">Our Melbourne Store</h4>
                <p class="mb-2">
                  Authoritatively deliver 2.0 niches vis-a-vis
                  backward-compatible infomediaries. Authoritatively actualize
                  empowered e-tailers with just in time.
                </p>
                <p class="mb-3">
                  <i class="icon-map-marker-alt"></i>
                  <strong>Headquarters: </strong
                  ><a href="#" class="text-black-50 under btn-link">
                    795 Folsom Ave, Suite 600 San Francisco, CA 94107</a
                  >
                </p>
                <a href="#" class="btn p-0 font-weight-semibold"
                  ><u>Visit Our Store</u>
                  <i
                    class="icon-line-arrow-right position-relative ml-1"
                    style="top: 2px"
                  ></i
                ></a>
              </div>
            </div>
          </div>

          <div class="section m-0 border-0" style="padding: 120px 0">
            <div class="video-wrap" style="z-index: 0">
              <video
                poster="one-page/images/page/portrait/video-poster.jpg"
                preload="auto"
                loop
                autoplay
                muted
              >
                <source src=".//images/video/adv.mp4" type="video/mp4" />
              </video>
              <div
                class="video-overlay"
                style="background: rgba(0, 0, 0, 0.2)"
              ></div>
            </div>
            <div
              class="emphasis-title widget subscribe-widget mx-auto center px-4"
              data-loader="button"
              style="max-width: 650px"
            >
              <h2 class="font-weight-bold text-white">Subscribe Now</h2>
              <p class="mb-5 text-white-50 lead" data-delay="100">
                Subscribe to Our Newsletter to get Important News, Amazing
                Offers & Inside Scoops:
              </p>
              <div class="widget-subscribe-form-result"></div>
              <form
                id="widget-subscribe-form-2"
                action="include/subscribe.php"
                method="post"
                class="mt-1 input-group input-group-lg mb-0"
              >
                <input
                  type="email"
                  id="widget-subscribe-form-2-email"
                  name="widget-subscribe-form-email"
                  class="form-control required email rounded-0 border-0"
                  placeholder="Enter your Email Address"
                />

                <div class="input-group-append">
                  <button
                    class="
                      btn btn-dark
                      bg-color
                      rounded-0
                      text-uppercase
                      font-weight-bold
                    "
                    type="submit"
                    style="font-size: 16px"
                  >
                    Subscribe Now
                  </button>
                </div>
              </form>
            </div>
          </div>

          <!-- <div class="instagram-button position-relative">
					<div id="instagram-photos" class="instagram-photos masonry-thumbs grid-8" data-user="5834720953" data-count="8" data-type="user" data-resolution="low_resolution"></div>
				</div> -->
        </div>
      </section>
      <!-- #content end -->
      <%- include('../partials/default/footer.ejs')%>
    </div>
    <!-- Go To Top
============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- JavaScripts
	============================================= -->
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.min.js"></script>

    <!-- Footer Scripts
	============================================= -->
    <script src="/js/functions.js"></script>

    <script>
      $(document).ready(changeHeaderColor);
      $(window).on("resize", changeHeaderColor);

      function changeHeaderColor() {
        if (jQuery(window).width() > 991.98) {
          jQuery("#header").hover(
            function () {
              if (!$(this).hasClass("sticky-header")) {
                $(this).addClass("hover-light").removeClass("dark");
                SEMICOLON.header.logo();
              }
              $("#wrapper").addClass("header-overlay");
            },
            function () {
              if (!$(this).hasClass("sticky-header")) {
                $(this).removeClass("hover-light").addClass("dark");
                SEMICOLON.header.logo();
              }
              $("#wrapper").removeClass("header-overlay");
            }
          );
        }
      }

      jQuery("#modal-subscribe-form").on("formSubmitSuccess", function () {
        $("#modal-subscribe").addClass("fadeOutDown");
        setTimeout(function () {
          $("#modal-subscribe").modal("hide");
        }, 400);
        $("#modal-subscribe").attr("displayed", "false");
      });
    </script>
    <%- include("../partials/default/cartScript") %>
  </body>
</html>
